
Kotlin101/.gradle/7.1/dependencies-accessors/dependencies-accessors.lock
Kotlin101/.gradle/7.1/dependencies-accessors/gc.properties
Kotlin101/.gradle/7.1/executionHistory/executionHistory.bin
Kotlin101/.gradle/7.1/executionHistory/executionHistory.lock
Kotlin101/.gradle/7.1/fileChanges/last-build.bin
Kotlin101/.gradle/7.1/fileHashes/fileHashes.bin
Kotlin101/.gradle/7.1/fileHashes/fileHashes.lock
Kotlin101/.gradle/7.1/gc.properties
*.lock
*.properties
*.bin
*.xml
*.kts
*.class
*.kotlin_module
*.tab
*.keystream
*.len
*.at
*.tab_i
*.jar
Kotlin101/gradlew
*.bat
